@charset "UTF-8";

:root {
  --cor-primaria-destaque: #FFC600; /* Amarelo Correios */
  --cor-secundaria-confianca: #1d86f0; /* Azul Correios */
  --cor-plano-fundo: #e4dede;
  --cor-texto-base: #212121;
  --cor-grad: linear-gradient(to bottom, #FFC600 ,#1d86f0);

}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom , var(--cor-primaria-destaque) 60%, var(--cor-secundaria-confianca) 100%);
    padding: 20px;
    text-align: center;
   
}

.logocorreios {
    width: 40vw;
    margin: auto;
}


body {
    background-color: var(--cor-plano-fundo);
    margin: auto;
}


main ul{
    background-color: var(--cor-secundaria-confianca);
    position: sticky;
    top: 0;
    list-style: none;
    display: flex;
    padding: 10px;
    padding-right: 10px;
    justify-content: left;
    gap: 10px;
    box-shadow: 0 0 5px 1px #fbfbfb74;
   
}

a {
    color: rgb(255, 253, 251);
    text-decoration: none;
   
}

main ul li  {
    background-color: #0053a6;
    padding: 2px 7px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #00000081;
}

main ul li:hover {
    background-color: var(--cor-plano-fundo);
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}

a:hover {
    color: black;
}

.container {
    background-image: url(../images/Fachada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    flex-flow: row;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.mapa {
    display: flex;
    width: 800px;
    height: 600px;
    padding: 5px;
    border-radius: 10px;
    box-shadow:0 0 10px #040404;
   
   
}

footer {
    background-color: var(--cor-secundaria-confianca);
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin: auto;
    border-top: 1px solid rgb(2, 2, 2);
    box-shadow: 0 0 5px #000000;
}